[Unit]
Description=P2P service
Wants=sandwich@root.service
After=sandwich@root.service
PartOf=sandwich@root.service
BindsTo=sandwich@root.service


[Service]
User=%i
Type=simple
WorkingDirectory=/usr/local/bin/AMSM
EnvironmentFile=/%i/.config/AMSM/amsmp2p.conf
ExecStart=/usr/bin/amsmp2p ${HWID} ${GATEWAY}
KillMode=process
Restart=on-failure
RestartSec=3
TimeoutStartSec=5
TimeoutStopSec=5

[Install]
WantedBy=graphical.target
